@import "scss/config";
@import "scss/mixins";

// Mobile
@media screen and (max-width:330px) {
    header {
        padding: 2em!important;
        h1 {
            font-size: 2em!important;
        }
        h2 {
            font-size: .9em!important;
        }
    }
    #projects{
        padding: 0 1em;
    }
}

@media screen and (max-width:375px) {
    header {
        padding: 0!important;
        min-height: 80vh!important;
        h1 {
            font-size: 2.1em!important;
        }
        h2 {
            font-size: .9em!important;
        }
    }
    #projects{
        padding: 0 1em;
    }
}

@media screen and (max-width:411px) {
    header {
        min-height: 50vh!important;
    }
}

@media screen and (max-width:420px) {
    header {
        padding: 0 1.5em!important;
        min-height: 90vh;
    }
    #projects{
        padding: 0 1em;
    }
}



@media screen and (max-width:550px){
    nav {
        padding: 1em 1em;
        .main-nav {
            display: none;
        }
        .burger-menu {
            display: block;
        }
    }

    .mobile-menu {
        width: 50%;
        li:nth-of-type(1) {
            margin-left: 7em;
            margin-bottom: 0;
            padding-top: 0;
            padding-bottom: 0;
        }
    }
    
    header {
        padding: 0 2em;
        width: 100%;
        justify-content: center;
        h1 {
            font-size: 2em;
        }
        .bold-text {
            font-size: .9em;
        }
        h2 {
            font-size: .8em;

        }
        a {
            text-decoration: none;
            color: $primary_font_color;
            .cta-btn {
                width: 125px;
                height: 45px;
                padding: 11px 21px;
                font-size: .9em;
            }
            
        }

    }
 

    #contact {
        
        .contact-email {
            width: 100%;
        }
        .main-contact {
            width: 100%;
        }
    }


}

@media screen and (max-width:620px) {
    #about {
        padding: 5em 0!important;
        flex-direction: column;
        .left-info{
            order: 2;
        }
        .right-info {
            margin-bottom: 2em;
            width: 152px;
            height: 152px;
            order: 1!important;
            // img {
            //     border-radius: 50%;
            // }
        }
    }
    #contact {
        padding: 5em 5em;
    }
}

@media screen and (max-width:691px) {
    header {
        min-height: 100vh;
        padding-bottom: 10em!important;
    }

    #projects {
        padding-left: 2em!important;
        padding-right: 2em!important;
    }
}

// Tablet
@media screen and (max-width:748px) {
    #projects {
        .section-title {
            h1 {
                text-align: center;
            }
        }
    }
}

// Tablet
@media screen and (max-width:768px) {
    header{   
        min-height: 70vh;
     }
}

@media screen and (max-width:826px) {
    #about {
        padding: 5em 5em;
    }
    #contact {
        padding: 5em 5em;

    }
}



// Tablet
@media screen and (max-width:915px) {
    header {
        padding: 2em;
        width: 100%;
        justify-content: center;
        text-align: center;
        height: 70vh;
        h1 {
            font-size: 2.5em;
        }
        .bold-text {
            font-size: 1em;
        }
        h2 {
            font-size: 1em;
            margin-bottom: 3em;

        }
        a {
            margin: 0 auto;
        }

    }
   
}

// other
@media screen and (max-width:1740px) {
    #modal {
        .prev-btn {
            left: 18%;
        }
    }
}
@media screen and (max-width:1740px){
    #modal {
        .prev-btn {
            left: 18%;
        }
    }
}
@media screen and (max-width:1660px){
    #modal {
        .prev-btn {
            left: 16%;
        }
    }
}
@media screen and (max-width:1580px){
    #modal {
        .prev-btn {
            left: 14%;
        }
    }
}
@media screen and (max-width:1500px){
    #modal {
        .prev-btn {
            left: 12%;
        }
    }
}

@media screen and (max-width:1430px){
    #projects {
        .section-title {
            margin-bottom: 3em;
        }
    }
}

@media screen and (max-width:1420px){
    #modal {
        .prev-btn {
            left: 10%;
        }
    }
}
@media screen and (max-width:1340px){
    #modal {
        .prev-btn {
            left: 8%;
        }
    }
}
@media screen and (max-width:1260px){
    #modal {
        .prev-btn {
            left: 6%;
        }
    }
}

@media screen and (max-width:1144px){
    header {
        padding-top: 20em!important;
    }
    #projects {
        padding: 5em 10em 5em 10em;
        text-align: center;
    }
}

@media screen and (max-width:1180px){
    #modal {
        .prev-btn {
            left: 4%;
        }
    }
}
@media screen and (max-width:1100px){
    #modal {
        .prev-btn {
            left: 2%;
        }
    }

    header {
        padding: 11em 9em;
    }
}

@media screen and (max-width:1052px){
    #contact {
        
        .main-contact {
            flex-direction: column;
            .left-contact {
                margin-bottom: 2em;
            }
        }
    }
}

@media screen and (max-width:1024px){
    header {
        min-height: 90vh;
    }

    #projects {
        min-height: 50vh;
    }
}


@media screen and (max-width:1020px){
    #modal {
        .prev-btn {
            left: 0;
        }
        .modal-content{
            .project{
                padding: 0;
                flex-direction: column;
                align-items: center;
                margin: 0 auto;
                .left-info{
                    width: 250px;
                }
                .right-info{
                    width: 250px;
                }
            }
        }
    }
}
