@import "scss/config";
@import "scss/mixins";



// GENERAL

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: $primary_font;
    line-height: 1.5;
    color: $primary_font_color;
    font-size: 1.2em;
}

body.night {
    background: $secondary_color;;
}

nav {
    @include flex_center(space-between, initial);
    width: 100%;
    padding: 1em 5em;
    background: #2b2b2b;
    position: fixed;
    z-index: 99;
    .logo {
        width: 45px;
        height: 35px;
        img{
            width: 100%;
            height: 100%;
        }
    }
    .main-nav {
        @include flex_center(initial, initial);
        li {
            margin-left: 3em;
            list-style-type: none;
            a {
                text-decoration: none;
                color: white;
                font-size: .8em;
            }
        }
    }
    .burger-menu {
        display: none;
        cursor: pointer;
        .menu1 {
            width: 25px;
            height: 1.5px;
            background: $secondary_font_color;
            margin-bottom: .3em;
        }
        .menu2 {
            width: 20px;
            height: 1.5px;
            background: $secondary_font_color;
            margin-bottom: .3em;
        }
        .menu3{
            width: 15px;
            height: 2.5px;
            background: $secondary_font_color;
            margin-bottom: .3em;
        }
    }
}

.mobile-menu {
    // visibility: unset;
    background: $modal_color;
    text-align: center;
    width: 20%;
    height: 100vh;
    position: absolute;
    position: fixed;
    top: 0;
    right: 0;
    padding: 1em;
    z-index: 100;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
    li {
        list-style-type: none;
        padding: 2em 1em;

        a {
            color: $primary_font_color;
            text-decoration: none;
            .exit-btn {
                width: 20px;
            }
        }
    }
    li:nth-child(1){
        margin-left: 13em;
    }
}



// HEADER SECTION
header {
    padding: 17em 12em;;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    // max-width: 1440px;
    // margin: 0 auto;
    h1 {
        font-weight: 300;
        margin-bottom: 1em;
        font-size: 3em;
    }
    .bold-text {
        font-weight: 600;
    }
    h2 {
        display: flex;
        flex-direction: column;
        font-weight: 300;
        font-size: 1.4em;
        span {
            color: #c2c2c2;
        }
    }

    a {
        text-decoration: none;
        color: $primary_font_color;
        display: inline-block;
        font-size: 1.2em;
        width: 180px;
        background: #9466BC;
        border-radius: 3px;
        padding: 10px 22px;
        margin-top: 4em;
        transition: all .2s ease;
        &:hover {
            background: #a275c9;
        }
    }
}
    


.nav-active {
    transform: translateX(0%)!important;
    transition: transform 0.5s ease-in;
}


// PROJECTS SECTION
#projects {
    padding: 0 20em 5em 20em;
    min-height: 66vh;
    
    .section-title{
        margin-bottom: 2em;
        h1 {
            font-weight: 400;
            font-size: 1.5em;
        }
    }

    .projects-gallery{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        grid-gap: 30px;
        .project {
            cursor: pointer;
            height: 300px;
            img {
                width: 100%;
                height: 100%;
                border-radius: 5px;
                object-fit: cover;
            }
        }
    }
    
}


.animateShow{
    @include animation('fadeIn 0.3s ease-in-out');
}
.btnFadeIn{
    @include animation('fadeIn 0.3s ease-in-out');
}
.btnFadeOut{
    @include animation('fadeOut 0.3s ease-in-out');
}



// MODAL
#modal {
    background: $secondary_color;
    background: #303030f8;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    display: none;
    z-index: 101;  
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
    .modal-content {
        color: #fff;
        background: rgba(0, 0, 0, 0);
        padding: 3em 0;
        position: absolute;
        overflow: hidden;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 100%;
        width: 850px;
        height: 100vh;

        .project{
            display: flex;
            justify-content: space-evenly;
            .left-info {
                width: 350px;
                height: 250px;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 5px;
                }
            }
            .right-info {
                width: 350px;
                height: 250px;
                h2 {
                    margin-bottom: 1em;
                }
                .technologies{
                    margin-bottom: 2.4em;
                    h4 {
                        font-weight: 600;
                    }
                    p {
                        font-weight: 300;
                    }
                }
                ul {
                    display: flex;
                    li {
                        margin-right: 1em;
                        list-style-type: none;
                        a {
                            color: #fff;
                            text-decoration: none;
                            border: .5px solid $secondary_font_color;
                            border-radius: 3px;
                            padding: .5em 1em;
                        }
                    }
                    }
                }
                
            }
            .mockup{
                width: 800px;
                height: 500px;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }

        .prev-btn {
            cursor: pointer;
            position: absolute;
            top: 40%;
            left: 20%;
            z-index: 101;
    
        }
        .next-btn {
            cursor: pointer;
            position: absolute;
            top: 40%;
            left: 78%;
        }
        .exit-btn {
            cursor: pointer;
            position: absolute;
            top: 3%;
            right: 1%;
        }
    
        }

    

.modals {
    display: none;
    .modal{
        .project-1{
            display: flex;
            justify-content: space-evenly;
            .left-info {
                width: 350px;
                height: 250px;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            .right-info {
                width: 350px;
                height: 250px;
                h2 {
                    margin-bottom: 1em;
                    
                }
                .technologies{
                    margin-bottom: 2.4em;
                    h4 {
                        font-weight: 600;
                    }
                    p {
                        font-weight: 300;
                    }
                }
                ul {
                    display: flex;
                    li {
                        margin-right: 1em;
                        list-style-type: none;
                        
                        a {
                            color: #fff;
                            text-decoration: none;
                            border: .5px solid $secondary_font_color;
                            border-radius: 3px;
                            padding: .5em 1em;
                        }
                    }
                }
            }
        }

        .mockup{
            width: 800px;
            height: 500px;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}


// ABOUT ME
#about{
    background: $primary_color;
    padding: 5em 10em;

    .wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 960px;
        margin: 0 auto;
        .left-info{
            width: 50%;
            margin-right: 2em;
            h3 {
                font-family: 'Playfair Display', serif;
                font-weight: 400;
                font-size: 1em;
                color: $secondary_font_color;
                margin-bottom: 1em;
                

            }
            p {
                margin-bottom: 2em;
                font-size: .9em;
                font-weight: 300;
                color: #c2c2c2;
            }
            p:nth-of-type(1) {
                span {
                    font-style: italic;
                    font-weight: 600;
                    color: $primary_font_color;
                }
            }
            p:last-child {
                a {
                    text-decoration: none;
                    color: white;
                    font-weight: 400;
                }
            }

        }
        .right-info{
            width: 250px;
            height: 300px;
            filter: grayscale(100%);
            transition: all .3s ease-in-out;
            &:hover {
                filter: unset;
            }
            img {
                // border-radius: 50%;
                width: 100%;
                height: 100%;
            }
            
        }
    }
        

        

}


// CONTACTS
#contact {
    padding: 5em 10em;
    
    .wrapper {
        max-width: 960px;
        margin: 0 auto;
        
        
        .contact-email {
            margin-bottom: 2em;
            width: 42%;
            h1 {
                font-weight: 400;
                font-size: 1.5em;
                margin-bottom: 1em;
            }
            p{
                font-size: .9em;
                font-weight: 300;
                margin-bottom: 2em;
                color: #c2c2c2;
                a{
                    color: $primary_font_color;
                    text-decoration: none;
                }
                a.email-link {
                    color: #824321;
                }
            }
        }
    
        .main-contact {
            border-top: 1px solid #595959;
            @include flex_center(space-between, initial);
            padding-top: 1em;
            padding-bottom: 0;
            width: 100%;
                .left-contact {
                    @include flex_center(center, center);
                    a {
                        .logo-contact {
                            width: 45px;
                            height: 35px;
                            img{
                                width: 100%;
                                height: 100%;
                            }
                        }
                    }
                    .copyright {
                        margin-left: 2em;
                        p{
                            font-size: .8em;
                            color: #c2c2c2;
                        }
                    }
                }
                a{
                    color: $primary_font_color;
                    text-decoration: none;
                }
            }
    
            .socials {
                ul {
                    @include flex_center(space-evenly, initial);
                    list-style-type: none;
                    li {
                        margin-left: 1em;
                        a {
                            color: white!important;
                        }
                    }
                }
            }
    }
    
}

.scrollToTop {
    position: fixed;
    bottom: 80px;
    right: 50px;
    width: 40px;
    line-height: 40px;
    text-align: center;
    background: #000;
    color: #fff;
    display: none;
    z-index: 103;
    border-radius: 5px;
    &:hover {
        background: rgba(0,0,0,0.5);
    }
}