@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&display=swap");
@-webkit-keyframes fadeIn {
  to {
    opacity: 1;
  }
  from {
    opacity: 0;
  }
}
@keyframes fadeIn {
  to {
    opacity: 1;
  }
  from {
    opacity: 0;
  }
}

@-webkit-keyframes fadeOut {
  to {
    opacity: 0;
  }
  from {
    opacity: 1;
  }
}

@keyframes fadeOut {
  to {
    opacity: 0;
  }
  from {
    opacity: 1;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
  color: #ffffff;
  font-size: 1.2em;
}

body.night {
  background: #303030;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: initial;
      -ms-flex-align: initial;
          align-items: initial;
  width: 100%;
  padding: 1em 5em;
  background: #2b2b2b;
  position: fixed;
  z-index: 99;
}

nav .logo {
  width: 45px;
  height: 35px;
}

nav .logo img {
  width: 100%;
  height: 100%;
}

nav .main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: initial;
      -ms-flex-pack: initial;
          justify-content: initial;
  -webkit-box-align: initial;
      -ms-flex-align: initial;
          align-items: initial;
}

nav .main-nav li {
  margin-left: 3em;
  list-style-type: none;
}

nav .main-nav li a {
  text-decoration: none;
  color: white;
  font-size: .8em;
}

nav .burger-menu {
  display: none;
  cursor: pointer;
}

nav .burger-menu .menu1 {
  width: 25px;
  height: 1.5px;
  background: #848484;
  margin-bottom: .3em;
}

nav .burger-menu .menu2 {
  width: 20px;
  height: 1.5px;
  background: #848484;
  margin-bottom: .3em;
}

nav .burger-menu .menu3 {
  width: 15px;
  height: 2.5px;
  background: #848484;
  margin-bottom: .3em;
}

.mobile-menu {
  background: #181818;
  text-align: center;
  width: 20%;
  height: 100vh;
  position: absolute;
  position: fixed;
  top: 0;
  right: 0;
  padding: 1em;
  z-index: 100;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 0.5s ease-in;
  transition: -webkit-transform 0.5s ease-in;
  transition: transform 0.5s ease-in;
  transition: transform 0.5s ease-in, -webkit-transform 0.5s ease-in;
}

.mobile-menu li {
  list-style-type: none;
  padding: 2em 1em;
}

.mobile-menu li a {
  color: #ffffff;
  text-decoration: none;
}

.mobile-menu li a .exit-btn {
  width: 20px;
}

.mobile-menu li:nth-child(1) {
  margin-left: 13em;
}

header {
  padding: 14em 12em;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

header h1 {
  font-weight: 300;
  margin-bottom: 0.5em;
  font-size: 3em;
  letter-spacing: .07em;
}

header .bold-text {
  font-weight: 600;
  font-size: 1.3em;
  letter-spacing: .04em;
}

header .name::after {
  content: '';
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #FD5457;
  margin-left: .1em;
}

header h1 + h1 {
  font-size: 2.5em;
}

header h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-weight: 300;
  font-size: 1.4em;
}

header h2 span {
  color: #c2c2c2;
}

header a {
  text-decoration: none;
  color: #ffffff;
  display: inline-block;
  font-size: 1.2em;
  width: 180px;
  background: #9466BC;
  border-radius: 3px;
  padding: 10px 22px;
  margin-top: 4em;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

header a:hover {
  background: #a275c9;
}

.nav-active {
  -webkit-transform: translateX(0%) !important;
          transform: translateX(0%) !important;
  -webkit-transition: -webkit-transform 0.5s ease-in;
  transition: -webkit-transform 0.5s ease-in;
  transition: transform 0.5s ease-in;
  transition: transform 0.5s ease-in, -webkit-transform 0.5s ease-in;
}

#projects {
  padding: 0 20em 5em 20em;
  min-height: 66vh;
}

#projects .section-title {
  margin-bottom: 2em;
}

#projects .section-title h1 {
  font-weight: 400;
  font-size: 1.5em;
}

#projects .projects-gallery {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 30px;
}

#projects .projects-gallery .project {
  cursor: pointer;
  height: 300px;
}

#projects .projects-gallery .project img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  -o-object-fit: cover;
     object-fit: cover;
}

.animateShow {
  -webkit-animation: fadeIn 0.3s ease-in-out;
          animation: fadeIn 0.3s ease-in-out;
}

.btnFadeIn {
  -webkit-animation: fadeIn 0.3s ease-in-out;
          animation: fadeIn 0.3s ease-in-out;
}

.btnFadeOut {
  -webkit-animation: fadeOut 0.3s ease-in-out;
          animation: fadeOut 0.3s ease-in-out;
}

#modal {
  background: #303030;
  background: #303030f8;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: none;
  z-index: 101;
  opacity: 1;
  -webkit-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}

#modal .modal-content {
  color: #fff;
  background: rgba(0, 0, 0, 0);
  padding: 3em 0;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  max-width: 100%;
  width: 850px;
  height: 100vh;
}

#modal .modal-content .project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-bottom: 5rem;
}

#modal .modal-content .project .left-info {
  width: 350px;
  height: 250px;
}

#modal .modal-content .project .left-info img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
}

#modal .modal-content .project .right-info {
  width: 350px;
  height: 250px;
}

#modal .modal-content .project .right-info h2 {
  margin-bottom: 1em;
}

#modal .modal-content .project .right-info .technologies {
  margin-bottom: 2.4em;
}

#modal .modal-content .project .right-info .technologies h4 {
  font-weight: 600;
}

#modal .modal-content .project .right-info .technologies p {
  font-weight: 300;
}

#modal .modal-content .project .right-info ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#modal .modal-content .project .right-info ul li {
  margin-right: 1em;
  list-style-type: none;
}

#modal .modal-content .project .right-info ul li a {
  color: #fff;
  text-decoration: none;
  border: 0.5px solid #848484;
  border-radius: 3px;
  padding: .5em 1em;
}

#modal .modal-content .mockup {
  width: 800px;
  height: 500px;
}

#modal .modal-content .mockup img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#modal .prev-btn {
  cursor: pointer;
  position: absolute;
  top: 40%;
  left: 20%;
  z-index: 101;
}

#modal .next-btn {
  cursor: pointer;
  position: absolute;
  top: 40%;
  left: 78%;
}

#modal .exit-btn {
  cursor: pointer;
  position: absolute;
  top: 3%;
  right: 1%;
}

.modals {
  display: none;
}

.modals .modal .project-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.modals .modal .project-1 .left-info {
  width: 350px;
  height: 250px;
}

.modals .modal .project-1 .left-info img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.modals .modal .project-1 .right-info {
  width: 350px;
  height: 250px;
}

.modals .modal .project-1 .right-info h2 {
  margin-bottom: 1em;
}

.modals .modal .project-1 .right-info .technologies {
  margin-bottom: 2.4em;
}

.modals .modal .project-1 .right-info .technologies h4 {
  font-weight: 600;
}

.modals .modal .project-1 .right-info .technologies p {
  font-weight: 300;
}

.modals .modal .project-1 .right-info ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modals .modal .project-1 .right-info ul li {
  margin-right: 1em;
  list-style-type: none;
}

.modals .modal .project-1 .right-info ul li a {
  color: #fff;
  text-decoration: none;
  border: 0.5px solid #848484;
  border-radius: 3px;
  padding: .5em 1em;
}

.modals .modal .mockup {
  width: 800px;
  height: 500px;
}

.modals .modal .mockup img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#about {
  background: #2b2b2b;
  padding: 5em 10em;
}

#about .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 960px;
  margin: 0 auto;
}

#about .wrapper .left-info {
  width: 50%;
  margin-right: 2em;
}

#about .wrapper .left-info h3 {
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  font-size: 1em;
  color: #848484;
  margin-bottom: 1em;
}

#about .wrapper .left-info p {
  margin-bottom: 2em;
  font-size: .9em;
  font-weight: 300;
  color: #c2c2c2;
}

#about .wrapper .left-info p:nth-of-type(1) span {
  font-style: italic;
  font-weight: 600;
  color: #ffffff;
}

#about .wrapper .left-info p:last-child a {
  text-decoration: none;
  color: white;
  font-weight: 400;
}

#about .wrapper .right-info {
  width: 250px;
  height: 300px;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

#about .wrapper .right-info:hover {
  -webkit-filter: unset;
          filter: unset;
}

#about .wrapper .right-info img {
  width: 100%;
  height: 100%;
}

#contact {
  padding: 5em 10em;
}

#contact .wrapper {
  max-width: 960px;
  margin: 0 auto;
}

#contact .wrapper .contact-email {
  margin-bottom: 2em;
  width: 42%;
}

#contact .wrapper .contact-email h1 {
  font-weight: 400;
  font-size: 1.5em;
  margin-bottom: 1em;
}

#contact .wrapper .contact-email p {
  font-size: .9em;
  font-weight: 300;
  margin-bottom: 2em;
  color: #c2c2c2;
}

#contact .wrapper .contact-email p a {
  color: #ffffff;
  text-decoration: none;
}

#contact .wrapper .contact-email p a.email-link {
  color: #824321;
}

#contact .wrapper .main-contact {
  border-top: 1px solid #595959;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: initial;
      -ms-flex-align: initial;
          align-items: initial;
  padding-top: 1em;
  padding-bottom: 0;
  width: 100%;
}

#contact .wrapper .main-contact .left-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#contact .wrapper .main-contact .left-contact a .logo-contact {
  width: 45px;
  height: 35px;
}

#contact .wrapper .main-contact .left-contact a .logo-contact img {
  width: 100%;
  height: 100%;
}

#contact .wrapper .main-contact .left-contact .copyright {
  margin-left: 2em;
}

#contact .wrapper .main-contact .left-contact .copyright p {
  font-size: .8em;
  color: #c2c2c2;
}

#contact .wrapper .main-contact a {
  color: #ffffff;
  text-decoration: none;
}

#contact .wrapper .socials ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: initial;
      -ms-flex-align: initial;
          align-items: initial;
  list-style-type: none;
}

#contact .wrapper .socials ul li {
  margin-left: 1em;
}

#contact .wrapper .socials ul li a {
  color: white !important;
}

.scrollToTop {
  position: fixed;
  bottom: 80px;
  right: 50px;
  width: 40px;
  line-height: 40px;
  text-align: center;
  background: #000;
  color: #fff;
  display: none;
  z-index: 103;
  border-radius: 5px;
}

.scrollToTop:hover {
  background: rgba(0, 0, 0, 0.5);
}
/*# sourceMappingURL=styles.css.map */