@import "scss/config";
@import "scss/mixins";



// GENERAL

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $primary_font;
    line-height: 1.5;
    color: $primary_font_color;
}

body.night {
    background: $secondary_color;;
}

nav {
    @include flex_center(space-between, initial);
    width: 100%;
    padding: 1em 5em;
    background: #2b2b2b;
    position: fixed;
    z-index: 99;
    .logo {
        h3 {
            color: white;
        }
    }
    .main-nav {
        @include flex_center(initial, initial);
        li {
            margin-left: 3em;
            list-style-type: none;
            a {
                text-decoration: none;
                color: white;
                font-size: .8em;
            }
        }
    }
    .burger-menu {
        display: none;
        cursor: pointer;
        .menu1 {
            width: 25px;
            height: 1.5px;
            background: $secondary_font_color;
            margin-bottom: .3em;
        }
        .menu2 {
            width: 20px;
            height: 1.5px;
            background: $secondary_font_color;
            margin-bottom: .3em;
        }
        .menu3{
            width: 15px;
            height: 1.5px;
            background: $secondary_font_color;
            margin-bottom: .3em;
        }
    }
}

.mobile-menu {
    // visibility: unset;
    background: $modal_color;
    text-align: center;
    width: 20%;
    height: 100vh;
    position: absolute;
    position: fixed;
    top: 0;
    right: 0;
    padding: 1em;
    z-index: 100;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
    li {
        list-style-type: none;
        padding: 2em 1em;

        a {
            color: $primary_font_color;
            text-decoration: none;
            .exit-btn {
                width: 20px;
            }
        }
    }
    li:nth-child(1){
        margin-left: 13em;
    }
}



// HEADER SECTION
header {
    padding: 18em 9em;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    max-width: 1440px;
    margin: 0 auto;
    h1 {
        font-weight: 300;
        margin-bottom: 1em;
        font-size: 3em;
    }
    .bold-text {
        font-weight: 600;
    }
    h2 {
        display: flex;
        flex-direction: column;
        font-weight: 300;
        font-size: 1.4em;
    }

    a {
        text-decoration: none;
        color: $primary_font_color;
        .cta-btn {
            font-size: 1.2em;
            width: 158px;
            height: 50px;
            background: #9466BC;
            border-radius: 3px;
            padding: 10px 24px;
            margin-top: 4em;
            transition: all .2s ease;
            &:hover {
                background: #a275c9;
            }
            }
    }
}
    


.nav-active {
    transform: translateX(0%)!important;
    transition: transform 0.5s ease-in;
}


// PROJECTS SECTION
#projects {
    display: flex;
    justify-content: space-between;
    padding: 0 10em;
    height: 100vh;
    max-width: 1440px;
    height: 100vh;
    .section-title{
        // padding: 3em 0;
        // font-size: 2em;
        // width: 30%;
        margin-right: 2em;
    }

    .projects-gallery{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(19em, 1fr));
        grid-template-rows: repeat(6, 250px);
        grid-gap: 20px;
        .project {
            cursor: pointer;
            img {
                width: 100%;
                height: 100%;
                border-radius: 5px;
                object-fit: cover;
            }
        }
    }
    
}



// MODAL
#modal {
    background: $secondary_color;
    opacity: 0.5;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    z-index: 100;
    .modal-content {
        color: #fff;
        background: black;
        padding: 2em;
        position: absolute;
        overflow: hidden;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 100%;
        width: 850px;
        height: 100vh;
    }
    .prev-btn {
        cursor: pointer;
        position: absolute;
        top: 40%;
        left: 14%;

    }
    .next-btn {
        cursor: pointer;
        position: absolute;
        top: 40%;
        left: 84%;
    }
    .exit-btn {
        cursor: pointer;
        position: absolute;
        top: 9%;
        right: 3%;
    }
}

.modals {
    display: none;
}

