@mixin flex_center($justify-content, $align-items) {
    display: flex;
    justify-content: $justify-content;
    align-items: $align-items;
}

@mixin text_style($family, $weight, $size, $color, $lheight, $lspacing) {
    font: {
        font-family: $family;
        weight: $weight;
        size: $size;
    }

    color: $color;
    line-height: $lheight;
    letter-spacing: $lspacing;
}

// Animation
@mixin keyframes($animation-name) {
    @keyframes #{$animation-name} {
    @content;
    }
}

@mixin animation($str) {
    animation: #{$str};      
}

@include keyframes(fadeInOut) {
    to{ opacity: 1; }
    from { opacity: 0; }
}